@charset "utf-8";

/*General CSS Styles*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/***test***/
.page_button {
	visibility: hidden;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	height: 100%;
	line-height: 40px;
	width: 150px;
	clear: none;
	background: #f93;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.page_container {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 340px;
}

#moreVideos {
	margin-left:auto;
	margin-right:auto;
	display: block;
}

.artist_link {
	color: #f93;
	text-decoration: underline;
}

.artist_link:visited {
	color: #f93;
	text-decoration: underline;
}
/*****/

/***general page setup***/
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-images:none;
    margin:0;
    padding:0;        
}

.gridContainer {
	/*from reflow*/
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	width: 100%;
}

.bg {
	background-image: url(../images/beach_new_sm.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}
/*****/

/***for header***/
#header {
	display: block;
	top: 0;
	position: fixed;
	z-index: 1;
	margin-left: auto;
	width: 100%;
	clear: both;
}

.header_img {
	box-shadow: 0 5px 3px -3px #000000;
	width: 100%;
}

.slideshow {
	background: #000;
	position: relative;
	display: block;
}

.slideshow:focus {
	outline: 0;
}

.slideshow figure {
	position: absolute;
	top: 0;
	width: 100%;
}

.slideshow figure:first-child {
	position: relative;
}

.slideshow figure img {
	opacity: 0;
	-webkit-transition: opacity 1.2s;
	transition: opacity 1.2s;
	position: relative;
	/*-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	*/
}

.slideshow .bss-show {
	z-index: 3;
}

.slideshow .bss-show img {
	opacity: 1;
	/* -webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
}

.bss-prev {
	display: none;
}

.bss-next {
	display: none;
}
/****/

/***for navigation***/
/*for main navigation*/
#main_nav {
	display: block;
	float: left;
    margin-left: 3%;
    margin-top: 5%;
    clear: none;
	position: fixed;
	width: 12%;
	min-width: 72px;
}

.item_list_main_nav {
	float: none;
	clear: both;
	color: rgba(0, 0, 0, 1.00);	
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: hsla(30,100%,60%,1.00);
	text-align: center;
	vertical-align: baseline;
	align-items: flex-start;
}

.item_list_main_nav:hover {
    background-color: rgba(0, 0, 0, 0.670588);
	color: rgb(255, 255, 255);
	-webkit-transition: all ease .3s;
	-o-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
}
/**/
/*for social navigation*/
#social_nav {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	display: block;	
	text-align: center;
	clear: none;
	position: fixed;
	right: 0;
}

#social_nav li {
	float: right;
	background-color: hsla(30,100%,60%,1.00);
	width: 100%;
	border-radius: 50%;
	clear:both;
	margin-bottom: 10px;
}

#social_nav li img {
	width: auto;
	vertical-align: middle;
}
/**/
/*****/

/***for page content***/
#article_center {
	margin-left: 10%;
	width: 80%;
}

#article_off_center {
	display: block;
	float: left;
	clear: none;
	height: auto;
	width: 70%;
	margin-top: 15%;
	margin-left: 20%;
}

#article_left {
	display: block;
	float: left;
	height: auto;
	margin-top: 15%;
	/*margin-left: 18%;*/
	margin-left: 15%;
	clear: none;
	width: 35%;
}

#article_right {
	display: block;
	float: left;
	height: auto;
	/*margin-left: 3%;*/
	margin-left: 6%;
	margin-top: 15%;
	clear: none;
	width: 35%;
	z-index: 2;
}

.content_header {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.75em;
	line-height: 2em;
	background-color: hsla(30,100%,60%,1.00);
	color: rgba(0, 0, 0, 0.670588);
}

.artist_header {
	font-size: 1.5em !important;
}

.social_feed {
	 max-width:500px;
}

.spacer {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.list_content {
}

.head_item_list_content_top {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.75em;
	line-height: 2em;
	background-color: hsla(30,100%,60%,1.00);
	color: #212121;
}

.head_item_list_content_top > h2 {
	padding-bottom: 5px;
	margin-bottom: 0;
	margin-top: 0;
}

.head_item_list_content {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.75em;
	line-height: 2em;
	background-color: hsla(30,100%,60%,1.00);
	color: rgba(0, 0, 0, 0.670588);
	/*margin-top: 30px;*/
	margin-bottom: 0;
}

.head_item_list_content > h2 {
}

.item_list_content {
	clear: none;
	border-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	height: auto;
	margin-bottom: 10px;
}

#footer {
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 100px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: hsla(30,100%,60%,1.00);
	width: 20%;
	min-width: 270px;
}

.coming_soon {
	color: hsla(0,0%,100%,1.00);
	font-size: 2em;
	text-align: center;
	padding-top: 10%;
	background-color: rgba(0, 0, 0, 0.670588);
	min-height: 600px;
}

#lyrics_container {
	background-color: rgba(0, 0, 0, 0.670588);
}

.lyrics {
	padding: 2%;
}

.lyrics_header {
	color: hsla(30,100%,60%,1.00);
	font-weight: bold;
	margin-left: 5px;
}

.lyrics_header_btn {
	width: 20px;
	height: 20px;
	border-radius: 0%;
	line-height: 10px;
	text-align: center;
	margin-top: -4px;
	margin-right: 3px;
}

.lyrics_body {
	color: #ffffff;
	padding-left: 25px;
	padding-top: 5px;
}

.bio {
	color: hsla(0,0%,100%,1.00);
	background-color: rgba(0, 0, 0, 0.670588);
	padding: 20px;
	font-size: 1.25em;
	height: auto;
	overflow: hidden;
}

.bio > h2 {
	margin-top: 0;
}

.bio_img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.music {
	display: block;
}

#bookface {
	background-color: #fff;
	max-width: 500px;
}

#bookface iframe {
	width: 100%;
}

/*#twitter-widget-0 {
	width: 100% !important;
	border-radius: none;
}*/

.timeline {
	border-radius: 0;
}

.product {
	background-color: rgba(0, 0, 0, 0.670588);
	padding: 10px;
	color: #fff;
	font-size: 1em;
}

.product > th, td {
	padding-left:5px;
	padding-right:5px;
	vertical-align: middle;
}

.product > h2{
	font-size: 1.3em;
	margin: 0;
}

.product_header {
	color: hsla(30,100%,60%,1.00);
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 5px;
}

.product_desc {
	margin-bottom: 5%;
	width: 100%;
	overflow: hidden;	
}

.product_desc img {
	margin: 2%;
	float: left;
	width: 40%;
}

.product_desc ul {
	list-style: none;
}

.product_pricing {
	padding: 5px;
	height: 50px;
}

.product_label {
	font-size: 1.4em;
	font-weight: bold;
	color: #fff;
	height: 100%;
	line-height: 40px;
	width: 79%;
	float: left;
	clear: none;
	background: #f93;
	text-align:center;
}

.product_purchase {
	font-size: 1.4em;
	font-weight: bold;
	color: #fff;
	height: 100%;
	line-height: 40px;
	width: 19%;
	clear: none;
	background: #f93;
	text-align:center;
	text-shadow: #C17C3A 0 -1px 0;
	margin-left: 81%;
	transition: all 0.2s;
}

.product_purchase:hover {
	color: #f93;
	background: #4B4B4B;
	transition: all 0.2s;
}

.product_purchase a {
	display:block;
}

/*.product_purchase {
	background: #f93;
	background: -moz-linear-gradient(top,#f93 0%,#e06500 100%);
	background: -webkit-linear-gradient(top,#f93 0%,#e06500 100%);
	background: -o-linear-gradient(top,#f93 0%,#e06500 100%);
	background: -ms-linear-gradient(top,#f93 0%,#e06500 100%);
	color: #000;
	font-size: 1em;
	border: 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	height: 20px;
	width: 100%;
}*/
/*****/

/***for video player***/
.video {
	height: 0;
	padding-top: 30px;
	padding-bottom: 67.5%; /*56.25%*/
	position: relative;
	overflow: hidden;
}

.video.widescreen {
  padding-bottom: 57.25%;
}

.video embed, .video iframe, .video object, .video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*#yt_player_mobile {
	height: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 67.5%;
	position: relative;
	overflow: hidden;
}*/
/*****/

/***for blog***/
/*note: post background previously defined in blogger HTML, variable name = main.background, line 110. now defined in .main-outer.*/
#blog {
	background-color: hsla(0,0%,100%,0.9);
	height: 600px;
	overflow-y: scroll;
	padding-right: 20px;
	padding-left: 20px;
}

#blog h1 {
	font-size: 1.1em;
}

#blog text {
	font-size: 1em;
}
/*for center column*/
.content-outer {
	margin-top: 15%;
	width: 74%;
	margin-left: 17%;
}

/*for post area*/
.main-outer {
	background-color: rgba(0, 0, 0, 0.670588);
	background-image: none;
}

/*for post body text*/
.post-body {
	color: rgba(255, 255, 255, 1.00) !important;
}

/*for comments*/
.comments {
	color: #fff;
	font-size: 1em;
}

/*for footer*/
.footer-outer {
	background-color: rgba(0, 0, 0, 0.670588);
	background-image: none;
}

/*for home line at page bottom*/
.home-link {
	color: hsla(30,100%,60%,1.00);
}
/**/
/*****/

/****** Mobile Layout: 480px and below. ******/
@media only screen and (max-width: 480px) {
/***for hidden objects***/
.hide_mobile {
	display: none !important;
}
/*****/

/***for header***/
#head_container_1 {
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
	z-index: 100;
}

#head_container_2 {
	float: left;
	width: 100%;
	position: relative;
	right: 50%;
	background-image: url(../images/menu_button_black.png);
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}

#menu_button {
	float: left;
	width: 10%;
	position: relative;
	left: 50%;
	overflow: hidden;
}

#menu_button img {
}

#menu_button, #mobile_nav, #wrapper	 {
	transition: all 0.3s ease;
}

#mobile_header {
	/*width: 90%;
	float: right;
	clear: none;*/
	float: left;
	width: 90%;
	position: relative;
	left: 60%;
	overflow: hidden;
}

.header_img {
	box-shadow: none;
}

.slideshow_mobile {
	background: #000;
	position: relative;
	display: block;
	width: 100%;
	float: left;
}

.slideshow_mobile:focus {
	outline: 0;
}

.slideshow_mobile figure {
	position: absolute;
	top: 0;
	width: 100%;
}

.slideshow_mobile figure:first-child {
	position: relative;
}

.slideshow_mobile figure img {
	opacity: 0;
	-webkit-transition: opacity 1.2s;
	transition: opacity 1.2s;
	position: relative;
/*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  */
}

.slideshow_mobile .bss-show {
	z-index: 3;
}

.slideshow_mobile .bss-show img {
	opacity: 1;
 /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
}
/*****/

/***for navigation***/
/*for main navigation*/
#mobile_nav {
	padding-top: 10px;
	width: 50%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -50%;
	background-color: #2C2C2C;
	-moz-box-shadow: inset 0 0 50px #000000;
	-webkit-box-shadow: inset 0 0 50px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.mobile_nav_push {
	left: 0 !important;
	z-index: 1;
	overflow-y: scroll;
}

#wrapper {
	min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
	background: none;
}

.wrapper_push {
	left: 50% !important;
}

.body_push {
	overflow: hidden;
}

.html_push {
	overflow: hidden;
}

#bg {
}

.btn_mobile_nav {
	top: 22px;
	margin-left: 5px;
	margin-bottom: 5px;
	background-color: hsla(30,100%,60%,1.00);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	line-height: 27px;
	text-align: center;
}

#list_mobile_nav {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
}

.item_list_mobile_nav {
	float: none;
	clear: both;
	font-size: 1.5em;
	width: 100%;
	color: rgba(0, 0, 0, 1.00);	
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: hsla(30,100%,60%,1.00);
	text-align: center;
	vertical-align: baseline;
	margin-bottom: 10px;
	align-items: flex-start;
}

.item_list_mobile_nav:hover {
    background-color: rgba(0, 0, 0, 0.670588);
	color: rgb(255, 255, 255);
	-webkit-transition: all ease .3s;
	-o-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
}
/**/
/*for social navigation*/
#mobile_social_nav{
	float: right;
	clear: both;
	text-align: center;
	margin-top: 5px;
}

#mobile_social_nav ul {
	margin: 0;
}

#mobile_social_nav li {
	float: right;
	background-color: hsla(30,100%,60%,1.00);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	clear: none;
	margin-right: 5px;
	line-height: 27px;
	list-style: none;
}

#mobile_social_nav li img {
	height: 20px;
	width: auto;
	vertical-align: middle;
}
/**/
/*****/

/***for page content***/
.artist_header {
	font-size: 1em !important;
}

#article_off_center {
	min-height: 483px;
	margin-top: 2%;
	margin-left: 5%;
	clear: both;
	width: 90%;
}

#article_mobile {
	float: left;
	height: auto;
	min-height: 483px;
	margin-left: 5%;
	margin-top: 2%;
	clear: both;
	width: 90%;
	margin-bottom: 10%;
}

.spacer {
	margin-top: 5px;
	margin-bottom: 5px;
}

.bio {
	font-size: 1em;
}

.bio img {
	float:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.head_item_list_content {
}

.product > h2 {
	font-size: 1em;
}

.product_desc {
	margin-bottom: 3%;
}

.product_desc ul {
	padding: 0;
	margin-left: 5%;
}

.product_desc img {
	width: 90%;
	margin-left:5%;
	padding: 0;
}

.product_label, .product_purchase {
	font-size: 0.8em;
}
/*****/

/***for blog***/
/*center column*/
.content-outer {
	margin-top: 5px;
}

/*mobile post title*/
.mobile-index-title {
	background-color: hsla(30,100%,60%,1.00);
}

/*mobile post arrow*/
.mobile-index-arrow {
	color: hsla(30,100%,60%,1.00);
}

.mobile-link-button {
	font-size: 14px;
}

#blog_mobile {
	background-color: hsla(0,0%,100%,0.8);
	height: 400px;
	overflow-y: scroll;
}

#blog_mobile h1 {
	font-size: 1.1em;
}

#blog_mobile text {
	font-size: 1em;
}
/*****/

/***for video player***/
.video {
	margin-top: -5px;
	padding-top: 25px;
	margin-bottom: 10px;
}

/*****/

.zeroMargin_mobile {
	margin-left: 0;
}

.music {
	display: none;
}
}

/****** Small Social Feed: 590px and below. ******/
@media only screen and (max-width: 590px) {
.twitter_feed {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.facebook_feed {
}
}

/****** Tablet Layout: 481px to 950px ******/
@media only screen and (min-width: 481px) and (max-width: 950px) {
/***for hidden objects***/
.hide_tablet {
	display: none !important;
}
/*****/

/***for navigation***/
#main_nav {
	margin-left: 2%;
}

.item_list_main_nav {
	font-size: 1.25em;
	width: 100%;
	margin-bottom: 10px;
	min-width: 85px;
}

#social_nav {
	width: 30px;
}

#social_nav li img {
	height: 20px;
}

#social_nav li {
	height: 30px;
	line-height: 30px;
}
/*****/

/***for page content***/
#article_center {
	margin-top: 25px;
}

.content_header {
	font-size: 1em;
}

.product {
	font-size: 1em;
}

.product_label {
	font-size: 1em;
}

.product_purchase {
	font-size: 1em;
}
/*****/

/***for blog***/
#blog_mobile {
	background-color: hsla(0,0%,100%,0.8);
	height: 600px;
	overflow-y: scroll;
}

#blog_mobile h1 {
	font-size: 1.2em;
}

#blog_mobile text {
	font-size: 1.1em;
}
/*****/

.zeroMargin_tablet {
margin-left: 0;
}

}

/****** Medium Social Feed: 591px to 950px ******/
@media only screen and (min-width: 591px) and (max-width: 950px) {
.twitter_feed {
	width:45%;
	float:left;
}

.facebook_feed {
	margin-left:55%;
}
}

/****** Desktop Layout: >951px ******/
@media only screen and (min-width: 951px) {
/***for hidden objects***/
.hide_desktop {
	display: none !important;
}
/*****/

/***for navigation***/
.item_list_main_nav {
	width: 100px;
	min-width: 30px;
	font-size: 1.5em;
	margin-bottom: 15px;
}

#social_nav {
	width: 50px;
	z-index: 1;
}

#social_nav li img {
	height: 30px;
	background-color: #FFF;
}

#social_nav li {
	height: 50px;
	line-height: 50px;
}
/*****/

/***for page content***/
#article_center {
	margin-top: 71px;
}

.content_header {
	font-size: 1em;
}

.head_item_list_content {
	font-size: 1em;
}

.head_item_list_content_top {
	font-size: 1em;
}
/*****/

/***for blogger***/
/*content area*/
.content-outer {
	margin-top: 15%;
	width: 78%;
	margin-left: 15%;
}

/*post body*/
.main-inner .column-center-outer {
	width: 65%;
}

/*right sidebar*/
.main-inner .column-right-outer {
	width: 33%;
	top: 0;
	right: 0;
	position: absolute;
}
/*****/

.zeroMargin_desktop {
margin-left: 0;
}
}

@media only screen and (min-width: 1175px) {
/*for blogger*/
.content-outer {
	margin-top: 15%;
	width: 80%;
	margin-left: 12%;
}
/**/
}

@media only screen and (min-width: 951px) and (max-width:1499px) {
/***for page content***/
#article_off_center {
	margin-left: 18%;
}
}

@media only screen and (min-width: 1500px) {
/***for page content***/
#article_off_center {
	margin-left: 17%;
}
}

/*IE10+ styles*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
.item_list_main_nav {
	font-weight: 700;
}
}
